extends layout

block content
    article.container 
        div.item.center
            h2=description
            h1=title
            h3
                a(href='/') Regresar
            br
            pre.error.left
                code #{error.stack}